/* styles.css */
.dark-mode {
    background-color: #000;
    color: #fff;
  }
  
  .light-mode {
    background-color: #fff;
    color: #000;
  }


  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
  }
  
  .form:hover {
    transform: scale(1.05);
    border: 1px solid black;
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }
  

/* @keyframes animate {
    0%{
        transform: translateY(0) rotate(780deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.91;
        border-radius: 40%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 15s linear infinite;
}




.background li:nth-child(0) {
    left: 87%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 35%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 26%;
    width: 143px;
    height: 100px;
    bottom: -143px;
    animation-delay: 4s;
}
.background li:nth-child(3) {
    left: 67%;
    width: 103px;
    height: 163px;
    bottom: -163px;
    animation-delay: 11s;
}
.background li:nth-child(4) {
    left: 71%;
    width: 149px;
    height: 109px;
    bottom: -149px;
    animation-delay: 1s;
}
.background li:nth-child(5) {
    left: 16%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 23s;
}
.background li:nth-child(6) {
    left: 10%;
    width: 107px;
    height: 177px;
    bottom: -177px;
    animation-delay: 1s;
}
.background li:nth-child(7) {
    left: 43%;
    width: 169px;
    height: 169px;
    bottom: -169px;
    animation-delay: 13s;
}
.background li:nth-child(8) {
    left: 74%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 3s;
}
.background li:nth-child(9) {
    left: 76%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 13s;
} */